<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @movies.each do |movie| %>
    <div class="thumbnail">
      <img src="<%= movie.poster %>" alt="">
      <div class="caption">
        <h3><%= movie.title %> <small><%= movie.year %></small></h3>
        <p><%= movie.plot %></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
      <%= link_to "Movie", movie %>
    </div>
    <% end %>
  </div>
</div>

<!--t.string   "title"-->
<!--t.string   "year"-->
<!--t.string   "rated"-->
<!--t.string   "runtime"-->
<!--t.string   "genre"-->
<!--t.string   "director"-->
<!--t.string   "writer"-->
<!--t.string   "actors"-->
<!--t.string   "plot"-->
<!--t.string   "awards"-->
<!--t.string   "poster"-->
<!--t.string   "rating"-->
<!--t.datetime "created_at", null: false-->
<!--t.datetime "updated_at", null: false-->
<!--t.integer  "user_id"-->