<% if !@movie_results["Title"] %>
    <h1>Please search for a movie!</h1>
<% else %>
    <ul>
      <li><h1><%= @movie_results["Title"] %> <small><%= @movie_results["Year"] %></small></h1></li>
      <li><%= @movie_results["Rated"] %></li>
      <li><%= @movie_results["Released"] %></li>
      <li><%= @movie_results["Runtime"] %></li>
      <li><%= @movie_results["Genre"] %></li>
      <li><%= @movie_results["Director"] %></li>
      <li><%= @movie_results["Writer"] %></li>
      <li><%= @movie_results["Actors"] %></li>
      <li><%= @movie_results["Plot"] %></li>
      <li><%= @movie_results["Country"] %></li>
      <li><%= @movie_results["Awards"] %></li>
      <li><img src="<%= @movie_results["Poster"] %>" alt=""></li>
      <li><%= @movie_results["Metascore"] %></li>
      <li><%= @movie_results["imdbRating"] %></li>
  </ul>
    <button>Add to Favorites</button>
    <button>Add to Watch List</button>
<% end %>