<% if !@movie_results["Title"] %>
    <h1>Please search for a movie!</h1>
<% else %>
    <h1><%= @movie_results["Title"] %> <small><%= @movie_results["Year"] %></small></h1>
    <img src="<%= @movie_results["Poster"] %>" alt="">

    <!-- favorite -->
    <form action="/movies" method="post">
      <input type="hidden" name="title" value="<%= @movie_results["Title"] %>">
      <input type="hidden" name="year" value="<%= @movie_results["Year"] %>">
      <input type="hidden" name="rated" value="<%= @movie_results["Rated"] %>">
      <input type="hidden" name="runtime" value="<%= @movie_results["Runtime"] %>">
      <input type="hidden" name="genre" value="<%= @movie_results["Genre"] %>">
      <input type="hidden" name="director" value="<%= @movie_results["Director"] %>">
      <input type="hidden" name="writer" value="<%= @movie_results["Writer"] %>">
      <input type="hidden" name="actors" value="<%= @movie_results["Actors"] %>">
      <input type="hidden" name="plot" value="<%= @movie_results["Plot"] %>">
      <input type="hidden" name="awards" value="<%= @movie_results["Awards"] %>">
      <input type="hidden" name="poster" value="<%= @movie_results["Poster"] %>">
      <input type="hidden" name="rating" value="<%= @movie_results["Rating"] %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <input type="submit" value="Add to Favorites">
    </form>

    <!-- watch -->
    <form action="/watch" method="post">
      <input type="hidden" name="title" value="<%= @movie_results["Title"] %>">
      <input type="hidden" name="year" value="<%= @movie_results["Year"] %>">
      <input type="hidden" name="rated" value="<%= @movie_results["Rated"] %>">
      <input type="hidden" name="runtime" value="<%= @movie_results["Runtime"] %>">
      <input type="hidden" name="genre" value="<%= @movie_results["Genre"] %>">
      <input type="hidden" name="director" value="<%= @movie_results["Director"] %>">
      <input type="hidden" name="writer" value="<%= @movie_results["Writer"] %>">
      <input type="hidden" name="actors" value="<%= @movie_results["Actors"] %>">
      <input type="hidden" name="plot" value="<%= @movie_results["Plot"] %>">
      <input type="hidden" name="awards" value="<%= @movie_results["Awards"] %>">
      <input type="hidden" name="poster" value="<%= @movie_results["Poster"] %>">
      <input type="hidden" name="rating" value="<%= @movie_results["Rating"] %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <input type="submit" value="Add to Watch List">
    </form>

<% end %>
