<div class="detail-container">
  <div class="detail-image-container">
    <img src="<%= @movie.poster %>" alt="<%= @movie.title %>" class="detail-image">
  </div>

  <div class="detail-text-container">
    <h1><%= @movie.title %><br>
    <h2>
      <%= @movie.year %>
      <%= @movie.rated %>
      <%= @movie.runtime %>
    </h2><br>
    <div class="detail-plot-container">
      <p><%= @movie.plot %></p>
    </div><br>
    <h4>Cast: <%= @movie.actors %></h4>
    <h4>Director: <%= @movie.director %></h4>
    <h4>Written By: <%= @movie.writer %></h4>
    <h4>Genre: <%= @movie.genre %></h4>
    <h4>Awards: <%= @movie.awards %></h4>
      <p><a href="/movies/" class="btn btn-primary" role="button">Back</a>
        <a href="/movies/remove/<%= @movie.id %>" class="btn btn-danger" role="button">Remove</a></p>
  </div>
</div>
