<!-- WATCH LIST -->
<h1>WATCH LIST</h1>
<div class="list">
  <% @movies.each do |movie| %>
    <div class="list_item">
      <figure class="list_item_inner">
        <div class="cap-bot">
          <img src="<%= movie.poster %>">
          <figcaption>
            <h4><%= movie.title %> <small><%= movie.year %></small></h4>
            <p>
              <%= link_to "Details", watch_path(movie), class: "btn", role: "button", id: "detail-button" %>
              <a href="/watch/remove/<%= movie.id %>" class="btn" role="button" id="remove-btn">Remove</a>
            </p>
          </figcaption>
        </div>
      </figure>
    </div>
  <% end %>
</div>
