<!-- <div class="detail-container"> -->
  <h2><%= @movie.title %></h2><br>

  <div class="detail-image-container">
    <%= image_tag @movie.poster, class: "detail-image"%>
  </div>

  <div class="detail-text-container">
    <h3>
      <%= @movie.year %>
      <%= @movie.rated %>
      <%= @movie.runtime %>
    </h3>
    <br>
    <p><%= @movie.plot %></p>
    <br>
    <section><strong>Cast: </strong><%= @movie.actors %></section>
    <section><strong>Director: </strong><%= @movie.director %></section>
    <section><strong>Written By: </strong><%= @movie.writer %></section>
    <section><strong>Genre: </strong><%= @movie.genre %></section>
    <section><strong>Awards: </strong><%= @movie.awards %></section>
  </div>
<!-- </div> -->
