<h2><%= @movie.title.upcase %></h2><br>

  <div class="detail-image-container">
    <%= image_tag @movie.poster, class: "detail-image"%>
  </div>

  <div class="detail-text-container">
    <h3>
      <%= @movie.year %>
      <%= @movie.rated %>
      <%= @movie.runtime %>
    </h3>
    <br>
    <p><%= @movie.plot %></p>
    <br>
    <section><strong>Cast: </strong><br /><%= @movie.actors %></section>
    <section><strong>Director: </strong><br /><%= @movie.director %></section>
    <section><strong>Written By: </strong><br /><%= @movie.writer %></section>
    <section><strong>Genre: </strong><br /><%= @movie.genre %></section>
    <section><strong>Awards: </strong><br /><%= @movie.awards %></section>
  </div>
